*{
    margin: 0;
    padding:0;

}
body{
    display: flex;
    background-image: url(../img/eberhard-grossgasteiger-CytHrRFp2wU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    text-align: center;
    color: whitesmoke;

}

a{
    text-decoration: none;
    color: whitesmoke;
}
a:visited{
    color: whitesmoke;
}